<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management</title>
    <style>
        .bookContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .bookSection {
            border: 1px solid #1f1c1c;
            margin: 10px;
            padding: 10px;
            background-color: antiquewhite;
        }

        .bookInformation {
            padding: 10px;
            border-right: 1px solid #ccc;
        }

        /* .bookInformation:last-child {
            border-right:none;
        } */

        #bookInfo, #returnedBooks {
            display: flex;
            flex-wrap: wrap;
        }

        #returnedBooks {
            margin-top: 20px;
            padding-top: 10px;
            border-top: 1px solid #ccc;
        }

        .fineAmount {
            margin-top: 10px;
        }

        .payFineButton {
            display: none;
        }

        .fineAmountInput {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Library Management System</h1>

    <div id="bookForm">
        <label for="bname">Book Name: </label>
        <input type="text" name="bname" id="bname" placeholder="Please Enter Book Name">
        <button type="submit" onclick="issueBook(event)">Submit</button>
    </div>

    <div id="bookInfo">
        <h2>Borrowed Books</h2>
        <div id="borrowedBooks" class="bookContainer"></div>
    </div>

    <!-- <div id="payFine">
        <p><span id="totalFineAmount"></span></p>
        <button id="payFineButton" onclick="payFine()">Pay Fine</button>
        <p id="paymentMessage"></p>
    </div> -->

    <div id="returnedBooks">
        <h2>Returned Books</h2>
        <div id="returnedBooksContainer" class="bookContainer"></div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script>
        let borrowedBooks = [];
        let returnedBooks = [];
        let totalFineAmount = 0;

        async function issueBook(event){
            try{
                event.preventDefault();

                const bookName = document.getElementById('bname').value;

                const serverResponse = await axios.post('http://localhost:3000/library', {title: bookName});
            

                console.log(bookName);

                const newBook = {
                    title: serverResponse.data.title,
                    borrowedAt: new Date(),
                    returnBy: new Date(Date.now() + 60 * 60 * 1000),
                    fineAmount: 0
                };

                borrowedBooks.push(newBook);
                showDataOnScreen();
                document.getElementById('bname').value = '';
            } catch(error){
                document.body.innerHTML=document.body.innerHTML+'<h4>Something Went Wrong</h4>';
                console.log(error);
            }
        }

        window.addEventListener('DOMContentLoaded', async () => {
            try{
                const res = await axios.get('http://localhost:3000/library');

                console.log(res.data);

                borrowedBooks = res.data.map(book => ({
                    ...book,
                    borrowedAt: new Date(book.borrowedAt).toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' }),
                    returnBy: new Date(book.returnBy).toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' }),
                }));

                showDataOnScreen();
                // for(let i=0;i<res.data.length;i++){
                //     showDataOnScreen(res.data[i]);
                //     console.log('reached', res.data[i]);
                // }
                
            } catch (error){
                document.body.innerHTML=document.body.innerHTML+'<h4>Something Went Wrong</h4>';
                console.log(error);
            }
        })

        function showDataOnScreen(){
            // const bookInfoDiv = document.getElementById('bookInfo');
            // bookInfoDiv.innerHTML = '';
            const borrowedBooksContainer = document.getElementById('borrowedBooks');
            const returnedBooksContainer = document.getElementById('returnedBooksContainer');
            //let sectionCounter = 1;

            borrowedBooksContainer.innerHTML = '';
            returnedBooksContainer.innerHTML = '';

            borrowedBooks.forEach(book => {
                const bookSection = createBookSection(book, false);
                borrowedBooksContainer.appendChild(bookSection);
            });

            returnedBooks.forEach(book => {
                const bookSection = createBookSection(book, true);
                returnedBooksContainer.appendChild(bookSection);
            });
            

            calculateFine();
        }

        function createBookSection(book, isReturned) {
            const bookSection = document.createElement('div');
            bookSection.classList.add('bookSection');

            const bookInformation = document.createElement('div');
            bookInformation.classList.add('bookInformation');
            bookInformation.innerHTML = `<p>Book Name: ${book.title}</p>
                                            <p>Borrowed At: ${book.borrowedAt}</p>
                                            <p>Return By: ${book.returnBy}</p>
                                            ${isReturned ? `<p>'Returned At' : ${new Date(book.returnedAt).toLocaleString('en-In', { timeZone: 'Asia/Kolkata' })}</p>` : ''}
                                            <p class="fineAmount">Fine Amount: ${book.fineAmount} Rupees</p>
                                            <button onclick="returnBook(${borrowedBooks.indexOf(book)})">Return Book</button>`;

            if (isReturned && book.fineAmount > 0) {
                const fineAmountField = document.createElement('input');
                fineAmountField.type = 'number';
                fineAmountField.placeholder = 'Enter Fine Amount';
                fineAmountField.classList.add('fineAmountInput');
                bookInformation.appendChild(fineAmountField);

                const payFineButton = document.createElement('button');
                payFineButton.textContent = 'Pay Fine';
                payFineButton.onclick = () => payFine(book);
                payFineButton.classList.add('payFineButton');
                bookSection.appendChild(payFineButton);
            }

            bookSection.appendChild(bookInformation);

            return bookSection;
        }

        function calculateFine() {
            //totalFineAmount = borrowedBooks.reduce((total, book) => total + book.fineAmount, 0);
            const payFineButtons = document.querySelector('.payFineButton');
            payFineButtons.forEach(button => {
                button.style.display = button.previousSibling.querySelector('.fineAmountInput').value > 0 ? 'block' : 'none';
                // const fineAmountField = button.previousSibling.querySelector('.fineAmount');
                // const index = parseInt(button.dataset.index, 10);
                // const fineAmount = borrowedBooks[index].fineAmount;
                // if(fineAmount > 0){
                //     fineAmountField.style.display = 'block';
                //     button.style.display = 'block';
                // } else {
                //     fineAmountField.style.display = 'none';
                //     button.style.display = 'none';
                // }
            });

            const totalFineAmount = borrowedBooks.reduce((total, book) => total + book.fineAmount, 0);
            const payFineSection = document.getElementById('payFine');

            payFineSection.style.display = totalFineAmount > 0 ? 'block' : 'none';
        }

        function createReturnedBookSection(book) {
            const returnedBookSection = document.createElement('div');
            returnedBookSection.classList.add('bookSection');

            const bookInformation = document.createElement('div');
            bookInformation.classList.add('bookInformation');
            bookInformation.innerHTML = `<p>Book Name: ${book.title}</p>
                                        <p>Fine Amount: ${book.fineAmount} Rupees</p>
                                        <p>Returned At: ${new Date(book.returnedAt).toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' })}</p>`;
            
            returnedBookSection.appendChild(bookInformation);

            return returnedBookSection;
        }

        function showReturnedBooks() {
            const returnedBooksContainer = document.getElementById('returnedBooksContainer');
            returnedBooksContainer.innerHTML = '';

            returnedBooks.forEach(book => {
                const returnedBookSection = createReturnedBookSection(book);
                returnedBooksContainer.appendChild(returnedBookSection);
            });
        }

        async function returnBook(index) {
            const returnedBook = borrowedBooks.splice(index, 1)[0];
            returnedBook.returnedAt = new Date();
            returnedBook.fineAmount = calculateFineForBook(returnedBook);

            // const returnedBooksContainer = document.getElementById('returnedBooksContainer');
            // const returnedBookSection = createBookSection(returnedBook, true);

            // returnedBooksContainer.appendChild(returnedBookSection);
            // calculateFine();
            returnedBooks.push(returnedBook);
            showDataOnScreen();
            calculateFine();
            //showReturnedBooks();
        }

        async function payFine(returnedBook) {

            //const fineAmountFieldId = `fineAmount_${returnedBooks.indexOf(returnedBook)}`;
            const fineAmountField = document.querySelector('.fineAmountInput');
            if (fineAmountField.value === '' || isNaN(parseFloat(fineAmountField.value))) {
                alert('Please enter a valid fine amount.');
                return;
            }
            const fineAmount = parseFloat(fineAmountField.value);

            returnedBook.fineAmount = 0;
            showDataOnScreen();
            //showReturnedBooks();

            // const fineDetails = returnedBooks.map(book => ({
            //     id: book.id,
            //     fineAmount: book.fineAmount
            // }));

            // await axios.post('http://localhost:3000/library', fineDetails);

            // returnedBooks = [];
            // showDataOnScreen();

            const paymentMessage = document.getElementById('paymentMessage');
            paymentMessage.textContent = 'Paid successfully!';
        }

        function calculateFineForBook(book){
            const now = new Date();
            if(now > book.returnBy){
                const hoursLate = Math.floor((now - book.returnBy) / (60 * 60 * 1000));
                return hoursLate * 10;
            }
            return 0;
        }


    </script>
</body>
</html>